.principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    height: 100vh;
    width: 100vw;
    margin-top: 1.5rem;
}

.cabecera-principal {
    display: flex;
    flex-direction: row;
}

.cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.titulo {
    font-variant: small-caps;
    font-size: xx-large;
    height: 2rem;
}

.boton-ayuda {
    font-size: large;
}

.logo {
    background-color: rgb(178, 255, 89, 1);
    border-radius: 10px;
    width: 150px;

}

input {
    cursor: pointer;
}
