.datos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100%;
  max-width: 800px;
}

.datos-subtitulo {
  height: 10px;
  font-style: oblique;
  font-size: x-large;
  color: var(--text-primary);
}

.datos-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  gap: 1rem;
  accent-color: var(--primary);
}

.datos-input input {
  width: 20px;
  height: 20px;
}

.datos-input label {
  margin-left: 2px;
  margin-right: 1.5rem;
  color: var(--text-primary);
}
