.incognita {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px;
    width: 100vh;

}

.incognita-subtitulo {
    height: 10px;
    font-style: oblique;
    font-size: x-large;
}

.incognita-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    accent-color: var(--A400);
}

.incognita-input input {
    width: 20px;
    height: 20px;
}

.incognita-input label {
    margin-left: 2px;
    margin-right: 2rem;
}