.opcion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px;
    gap: 5px;
    width: 100vh;

}

.opcion-subtitulo {
    height: 10px;
    font-style: oblique;
    font-size: x-large;
}

.opcion-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    accent-color: var(--A400);
}

.opcion-input input {
    width: 1.25rem;
    height: 1.25rem;
}


.opcion-input label {
    margin-left: 2px;
    margin-right: 2rem;
}