:root {

  --A100: #CCFF90;
  --A200: #B2FF59;
  --A400: #76FF03;
  --A700: #64DD17;

  --A100R: rgb(204, 255, 144);
  --A200R: #rgb(178, 255, 89, 0.5);
  --A400R: #rgb(118, 255, 3);
  --A700R: #rgb(100, 221, 23);


  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}




a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

a:hover {
  border-color: #76FF03;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

}

button:hover {
  border-color: #76FF03;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--A100);
  }

  a:hover {
    color: black;
  }


  button {
    background-color: var(--A700);
    color: white;
  }

  button:hover {
    border-color: black;
    color: black;
    background-color: var(--A200);
  }

}
